html {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.primary-button {
    min-width: 150px;
    padding: 1rem;
    min-height: 50px;
    background-color: dodgerblue;
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 50px auto;
    display: block;
    border-radius: 0.25rem;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.primary-button:hover {
    transform: scale(1.1)
}